doctype  html
html
	head
		title Entirely Temporary TobyHall.com
		script(src="../js/jquery-1.10.2.min.js")
		script(src="../js/palindrome.js")
		link(src="css/style.css")
	body
		#wrap
			h2 
				a(href="https://github.com/highcard/palindrome") Palindrome Converter
			label String:
			input#entry-chars(type="text", placeholder="Enter some characters here")
			button#check-str-button(type="submit") racecar?
			p#pal-output